<html
<head>
	<title>Welcome To Rock Paper Scissors</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
</head>
<body>
	<div class='container'>
		<h1>Rock Paper Scissors</h1>
		<h2>Choose Your Game Type</h2>
		<form action='/one_player'>
			<button type='submit' class='btn-success'>One Player Game</button>
		</form>
		<form action='/two_player'>
			<button type='submit' class='btn-success'>Two Player Game</button>
		</form>
	</div>
</body>
</html>