<html>
<head>
	<title>Rock Paper Scissors Battle Royale</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
	<div class='container'>
		<h1>Rock Paper Scissors Battle Royale</h1>
		<h2>Player 1, Your Move</h2>
		<form action='/two_player_player2'>
			<button type='submit' name='player1' value='rock'>
				<img src='http://img4.wikia.nocookie.net/__cb20131014061946/prowrestling/images/9/9e/The_Rock_18_GD.png' width='200px' height='200px'>
			</button>
			<button type='submit' name='player1' value='paper'>
				<img src='https://upload.wikimedia.org/wikipedia/commons/a/af/Rock-paper-scissors_(paper).png' width='200px' height='200px'>
			</button>
			<button type='submit' name='player1' value='scissors'>
				<img src='https://upload.wikimedia.org/wikipedia/commons/5/5f/Rock-paper-scissors_(scissors).png' width='200px' height='200px'>
			</button>
		</form>
	</div>
</body>
</html>