<html>
<head>
	<title>The Rock, Paper Scissors Battle Royale</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
	<div class='container'>
		<h1>The Rock, Paper Scissors Battle Royale</h1>
		<h2>Your Move, Player 2</h2>
		<form action='/two_player_result'>
				<button type='submit' name='player2' value='rock'>
					<img src='https://rocker66843.files.wordpress.com/2009/09/the-rock1.jpg?w=240&h=320' width='200px' height='200px'>
				</button>
				<button type='submit' name='player2' value='paper'>
					<img src='http://img4.wikia.nocookie.net/__cb20131014061946/prowrestling/images/9/9e/The_Rock_18_GD.png' width='200px' height='200px'>
				</button>
				<button type='submit' name='player2' value='scissors'>
					<img src='https://s-media-cache-ak0.pinimg.com/236x/83/7a/cb/837acbe54e2e321c4a6432fcff91152d.jpg' width='200px' height='200px'>
				</button>
		</form>
	</div>
</body>
</html>